<tr>
  <td><%= link_to application.job.company.name, application.job.url %></td>
  <td><%= application.job.title %></td>
  <td><%= application.updated_at.strftime("%m-%d-%Y") %></td>
  <td><%= render partial: "status", locals: { application: application,
            statuses: JobApplication.statuses } %>
  </td>
  <td>
    <em><%= render partial: "note", locals: { application: application } %></em>
  </td>
</tr>