<tr>
  <td><%= link_to application.job.company.name, application.job.url %></td>
  <td><%= application.job.title %></td>
  <td><%= application.updated_at.strftime("%m-%d-%Y") %></td>
  <td><%= render partial: "status", locals: { current_status: application.status } %></td>
  <td><em><%= render partial: "note", locals: { current_note: application.note } %></em></td>
</tr>