<tr>
  <td><%= application.job.company.name %></td>
  <td><%= application.job.title %></td>
  <td><%= application.updated_at %></td>
  <td><%= application.status %></td>
  <td><%= "#{application.job.salary_bottom} - #{application.job.salary_top}" %></td>
</tr>