<tr>
  <td><%= application.job.company.name %></td>
  <td><%= application.job.title %></td>
  <td><%= application.updated_at %></td>
  <td><%= render partial: "status", locals: { current_status: application.status } %></td>
  <td><%= application.job.url %></td>
</tr>