<nav class='navbar navbar-default navbar-static-top'>
	<div class='container'>
    <div class="navbar-header">
      <a id="logo" class="navbar-brand" href="<%= root_path %>">Logo_img</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'My Apps', my_applications_path %></li>
      <li><%= link_to 'New Application', new_job_application_path %></li>
      
      <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu">My Account <span class="caret"></span></a>
        <ul class="dropdown-menu"> -->
          <%= render 'devise/shared/login_links' %>
          <%= render 'devise/shared/registration_links' %>
        <!-- </ul> -->
      <!-- </li> -->
    </ul>
	</div>
</nav>  