<!DOCTYPE html>
<html>
<head>
  <title>Jobhunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'shared/navbar' %>

	<div class='container' id='body-container'>
  	<%= render 'shared/alerts' %>
		<%= yield %>
	</div>
  
  <div class="footer">
    <div class="container" class="position-relative">
      <p class="text-muted" id="copyright">&copy; 2014 AppAcademics</p>
    </div>
  </div>
</body>
</html>
